/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2015, 10:55:31 AM
    Author     : lauri
*/

.tab-pane:top .tab-header-area .tab-header-background{
-fx-backgound-color: -fx-outer-border, -fx-inner-border, derive(fx-color, -20%);
-fx-effect: innershadow(two-pass-box , rgba(50,50,50,1) , 1000, 0.2 , 500 , 5);   
-fx-opacity:0.9;
}
.tab-pane {
-fx-tab-min-width:90px;
}
.tab {
    -fx-backgound-inserts: 0 1 0 1,0,0;
}
.tab-pane .tab {
    -fx-background-color: #e6e6e6;
}
.tab-pane .tab:selected{
    -fx-backgound-color: #3c3c3c;
}
.tab .tab-label {
    -fx-aligment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.tab:selected .tab-label {
    -fx-aligment: CENTER;
    -fx-text-fill: #96b946;
}

